<ul id="tab" class="nav nav-tabs" style="padding-top: 3%; padding-left: 0.3%; background-color: #b7c2cb;">
    <li ng-class="{active : activeMenu === 'Metrics'}" style="background-color: none"><a href="/dashboard" ng-click="activeMenu = 'Metrics'" style="color:#041a2e">Metrics</a></li>
    <li ng-class="{active : activeMenu === 'DashboardHistory'}" style="background-color: none"><a href="/dashboardhistory" ng-click="activeMenu = 'DashboardHistory'" style="color:#041a2e">History</a></li>
    <li ng-class="{active : activeMenu === 'ExecDetails'}" style="background-color: none"><a href="/executiondetails" ng-click="activeMenu = 'ExecDetails'" style="color:#041a2e">Execution Details</a></li>
</ul>