<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="nav navbar-nav side-nav">
        <ul class="nav navbar-nav side-nav-globalsetting">
            <li ng-class="{active : activeMenu === 'Client'}"><a href="setting/" ng-click="activeMenu = 'Client'" style="color: white"><i class="fa fa-tasks"></i> Client Management</a></li>
            <li ng-class="{active : activeMenu === 'Snippet'}"><a href="setting/snippet" ng-click="activeMenu = 'Snippet'" style="color: white"><i class="fa fa-cog"></i> Snippet Management</a></li>
            <li ng-class="{active : activeMenu === 'Variable'}"><a href="setting/variable" ng-click="activeMenu = 'Variable'" style="color: white"><i class="fa fa-file-text"></i> Variable Management</a></li>
        </ul>
    </div>
</div>